
<section class="d-flex justify-content-center">
  <div class="card">
  <form action="" id="cakeform" onsubmit="return false;">
   <fieldset>

    <p>
    <label >Le salaire brut mensuel est de </label>
    <input type="text"  id="theinscription"
    name="theinscription" value="Enter Inscription" onkeyup="getTotal()"/>
    </p>

    <p>
    <label>La période d'essai dure : </label>

    <select id="filling" name='filling'
    onchange="getTotal()">
    <option value="None">Select Filling</option>
    <option value="2mois">2 mois</option>
    <option value="3mois">3 mois</option>
    <option value="4mois">4 mois</option>
    <option value="6mois">6 mois</option>
   </select>
   </p>
    <hr>
    <div id="totalPrice" style="color: black; font-size: 45px;"></div>
    <div id="remboursement" style="color: black"></div>
    </fieldset>
</form>
</div>
</section>

<style>
  .card {
    border-color: black;
    border-size: 2px;
    border-radius: 20px;
    box-shadow: 2px 2px 2px;
  }
</style>


<script>
  var filling_prices= new Array();
filling_prices["None"]=0;
filling_prices["2mois"]=2;
filling_prices["3mois"]=3;
filling_prices["4mois"]=4;
filling_prices["6mois"]=6;

function getFillingPrice()
{
    var cakeFillingPrice=0;
    //Get a reference to the form id="cakeform"
    var theForm = document.forms["cakeform"];
    //Get a reference to the select id="filling"
     var selectedFilling = theForm.elements["filling"];

    //set cakeFilling Price equal to value user chose
    //For example filling_prices["Lemon".value] would be equal to 5
    cakeFillingPrice = filling_prices[selectedFilling.value];

    //finally we return cakeFillingPrice
    return cakeFillingPrice;
}

function getQuantity()
{
    //Assume form with id="theform"
    var theForm = document.forms["cakeform"];
    //Get a reference to the TextBox
    var quantity = theForm.elements["theinscription"];
    var howmany =0;
    //If the textbox is not blank
    if(quantity.value!="")
    {
        howmany = parseInt(quantity.value);
    }
return howmany;
}

function getTotal()
{
    //Here we get the total price by calling our function
    //Each function returns a number so by calling them we add the values they return together
    var cakePrice = getFillingPrice() * getQuantity();
    var remb = Math.ceil((cakePrice * 1.07)/18);

    //display the result
    document.getElementById('totalPrice').innerHTML =
                                     cakePrice+"€";
    document.getElementById('remboursement').innerHTML =
                                      remb+"€/mois";
}

</script>
