

<div class="container">
  <div class="row-text">
    <h1 class="ml14">
      <span class="text-wrapper">
      <span class="letters">Embaucher <br> devient <br> facile.</span>
      <span class="line"></span>
      </span>
    </h1>
    <p>Nous finançons jusqu'à 12 mois de salaire de votre nouvel employé. Vous remboursez ensuite petit à petit. Simplement.</p>
  </div>
  <div class="row-img">

  </div>
</div>

