<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-MQHDN93');</script>
<!-- End Google Tag Manager -->
</head>

<body>
    <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-MQHDN93');</script>
  <!-- End Google Tag Manager -->

  <section style="background-color: #F7F9FB">
      <div class="col col-lg-7 col-sm-12 col-md-12">
        <div class="text">

          <!-- <div class= "div-logo">
          </div> -->
          <%= cl_image_tag("Group_32_sdbt1j", width: "30%", height: "auto", class: "logo", id: "unic") %>
        <h1 class="ml14" >
          <span class="letters">Merci. </span>
          </span>
        </h1>
          <p class="dec">Votre demande de démo a été prise en compte.</p>
          <!-- Begin Mailchimp Signup Form -->

          </div>
        </div>

    <div class="col col-lg-5 col-sm-0 col-md-12">
      <%= cl_image_tag("Group_31_xksmuy", width: "40%", height: "auto", class: "marc") %>
      <%= cl_image_tag("Group_54_dvehos", width: "60%", height: "auto", class: "board-1") %>
      <div class="new_colonn">
      <%= cl_image_tag("bruce3_1_j7umkm", width: "103%", height: "auto") %>
      </div>
    </div>
  </section>
